body {
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    text-align: center;
}
table {
    margin: 0 auto;
    margin-top: 5pt;
}
th,
td {
    padding: 8pt;
}
select{
    margin: 5pt;
    width: 67%;
}
button{
    margin: 5pt;
}
textarea{
    margin:5pt;
    max-width: 300pt;
    max-height: 70pt;
}
input[type="text"]{
    margin:5pt;
}
label{
    margin:5pt;
}
.inferior{
    width: 49%;
    float: left;
    min-height: 400px;
}
.botonesCentrales{
    display: block;
    margin:0 auto;
    margin-left:15pt;
    margin-top: 10pt;
    margin-right:15pt;
    margin-bottom: 5pt;
    width: 90%;
}
#contenedor{
    margin:0 auto;
    margin-top:20pt;
    width:90%;
    height: 90%;
}
#parteSuperior{
    margin:0 auto;
    width: 95%;
    border:1px solid black;
}
#creacionTareas{
    width: 35%;
    min-height: 150pt;
    float:left;
}
#gestionCategorias{
    width: 35%;
    min-height: 150pt;
    float: right;
}
#seleccionarCategorias{
    width: 29%;
    min-height: 150pt;
    margin: 0 auto;
    border:1px solid black;
}
input[type="checkbox"] {
    width:15pt;
    height:15pt;
}
button{
    background-color:blue;
    color:white;
}