body {
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(214, 164, 99, 0.445);
}
h2{
    text-align: center;
    margin-top:0pt;
}
table {
    margin: 0 auto;
    margin-top: 5pt;
    width: 85%;
}
th,
td {
    padding: 8pt;
}
td{
    width:90%;
    border-bottom:1px solid black;
}
select{
    margin: 5pt;
    width: 60%;
    background-color: rgba(248, 248, 248, 0.822);
}
textarea{
    margin: 5pt;
    min-width: 60%;
    min-height: 31pt;
    max-width: 60%;
    max-height: 31pt;
    background-color: rgba(248, 248, 248, 0.822);
}
input[type="text"]{
    margin:5pt; 
}
input[type="checkbox"]{
    float:right;
}
.botonesModos{
    background-color: rgba(30, 27, 219, 0.692);
    color:rgba(255, 255, 255, 0.87);
    font-weight: bold;
    border:1px solid rgba(214, 164, 99, 0.445);
    width: 30%;
    height: 15pt;
}
label{
    margin:5pt;
}
.pie{
    width: 100%;
}
.inferior{
    margin: 0 auto;
    margin-left: 17pt;
    min-width: 47%;
    max-width: 47%;
    float: left;
}
.botonesCentrales{
    height: 30pt;
    width: 70%;
    margin-top:5pt;
    margin-bottom:5pt;
    margin-left: 65pt;
    font-weight: bold;
    border:1px solid rgba(180, 136, 79, 0.37);
}
#botonCrearTarea{
    height: 35pt;
    width: 90pt;
    float:right;
    margin-top:7px;
    margin-right: 20pt;
}
#eliminarTareas{
    background-color: rgba(172, 0, 0, 0.6);
    color: white;
}
#cambiarEstado{
    background-color: rgba(0, 172, 51, 0.6);
    color: white;
}
#contenedor{
    margin:0 auto;
    margin-top:20pt;
    min-width: 95%;
    max-width: 95%;
    min-height: 300pt;
}
#parteSuperior{
    margin:0 auto;
    width: 95%;
    border:2px solid rgba(173, 150, 18, 0.486);
}
#creacionTareas{
    width: 35%;
    min-height: 100pt;
    float:left;
}
#gestionCategorias{
    width: 35%;
    min-height: 100pt;
    float: right;
}
#seleccionarCategorias{
    width: 29%;
    min-height: 90pt;
    margin: 0 auto;
    border-right:2px solid rgba(173, 150, 18, 0.486);
    border-left:2px solid rgba(173, 150, 18, 0.486);
}
input[type="checkbox"] {
    width:15pt;
    height:15pt;
}
.alert {
    padding: 2px;
    text-align: center;
    font-size: 14pt;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 2px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }