body {
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color:black;
}
table {
    margin: 0 auto;
    margin-top: 100pt;
}

th,
td {
    padding: 8pt;
}

h2 {
    text-align: center;
}


p{
    margin-left: 20pt;
}
.inferior{
    width: 49%;
    border:1px solid black;
    float: left;
    min-height: 500px;
    max-height: 500px;
}
#contenedor{
    margin:0 auto;
    margin-top:50pt;
    width:90%;
}