{% extends 'base.html' %}

{% block 'titulo' %}
Listado de tareas
{% endblock %}

{% block 'contenido' %}
<div id="parteSuperior">
    <div id="creacionTareas">
        <form action="{% url 'crearTarea' %}" method="post">
            {% csrf_token %}
            <label>Elegir Categoria</label>
            <br>
            <select name="categoriasCrearTarea" id ="catego">
                {% for c in categorias %}
                <option value="{{c.id}}">{{c.nombre}}</option>
                {% endfor %}
            </select>
            <textArea id="nombreTarea" name="nombreTarea"></textArea>
            <button type="submit" value="submit" id="botonCrearTarea">Crear Tarea</button>
            <br>
        </form>
    </div>
    <!--Selector de las categorias, se le da un valor a cada elemento y se llama al valor desde el boton-->
    <div id="gestionCategorias">
        <form action="{% url 'crearCategoria' %}" method="post">
            {% csrf_token %}
            <label>Nueva Categoria</label> 
            <br>
            <input type="text" id="campoCrearTarea" name="nombreCategoriaNueva">
            <button type="submit" value="submit">Crear Categoria</button>
        </form>
        <form action="{% url 'borrarCategoria' %}" method="post">
            {% csrf_token %}
            <label>Borrar Categoria</label><br>
            <select name="categoriaABorrar" id ="categB">
                {% for c in categorias %}
                {% if not c.nombre == "Todas" %}
                <option value="{{c.id}}">{{c.nombre}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button  type="submit" value="submit">Borrar Categoria</button>
        </form>
    </div>
    <div id="seleccionarCategorias">
        <h2>{{categoriaActiva.nombre}}</h2>
        <form action="{% url 'seleccionarCategoria' %}" method="post">
            {% csrf_token %}
            <select name="seleccionCategorias" id ="categ">
                {% for c in categorias %}
                <option value="{{c.id}}">{{c.nombre}}</option>
                {% endfor %}
            </select>
            <button onclick="categoriaSeleccionada()">Seleccionar</button>
        </form>
    </div>
</div>
<div id="contenedor">
    <form action="{% url 'seleccionarModo' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="nombreCategoria" value="{{categoriaActiva.id}}" id="oculto">
        <div class="pie">
            <input type="submit" class="botonesCentrales" value="Cambiar Estado Tareas" name="cambiar" id="cambiarEstado">
            <input type="submit" class="botonesCentrales" value="Eliminar Tareas Seleccionadas" name="eliminar" id="eliminarTareas">
        </div>
        <div class="inferior">
            <table>
                <thead>
                    <tr>
                        <th><h3>Pendientes</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <!--Aqui se usa el nombre del return de pendientes en el views.py-->
                    {% for t in tareasPendientes %}
                    <tr>
                    <!--Cada elemnento lleva su checkbox-->    
                        <td>{{t.nombre}}<input value={{t.id}} type="checkbox" name="tarea"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="inferior">
            <table>
                <thead>
                    <tr>
                        <th><h3>Realizadas</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <!--Aqui se usa el nombre del return de realizadas en el views.py-->
                    {% for tR in tareasRealizadas %}
                    <tr>
                        <td>{{tR.nombre}}<input value={{tR.id}} type="checkbox" name="tarea"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
{% endblock %}