{% extends 'base.html' %}

{% block 'titulo' %}
Listado de tareas
{% endblock %}

{% block 'contenido' %}
<div id="parteSuperior">
    <div id="creacionTareas">
        <label>Nueva Tarea</label> 
        <br>
        <textArea cols="60" rows="6"></textArea>
        <br>
        <button onclick="categoriaSeleccionada()">Crear Tarea</button>
    </div>
    <!--Selector de las categorias, se le da un valor a cada elemento y se llama al valor desde el boton-->
    <div id="gestionCategorias">
        <label>Nueva Categoria</label> 
        <br>
        <input type="text">
        <button>Crear Categoria</button>
        <br>
        <br>
        <label>Borrar Categoria</label><br>
        <select name="categorias" id ="categB">
            {% for c in categorias %}
            <option value="{% url 'listaTareasC' c.id %}">{{c.nombre}}</option>
            {% endfor %}
        </select>
        <button onclick="">Borrar Categoria</button>
    </div>
    <div id="seleccionarCategorias">
        <h1>{{categoriaActiva.nombre}}</h1>
        <select name="categorias" id ="categ">
            {% for c in categorias %}
            <option value="{% url 'listaTareasC' c.id %}">{{c.nombre}}</option>
            {% endfor %}
        </select>
        <button onclick="categoriaSeleccionada()">Seleccionar</button>
    </div>
</div>
<div id="contenedor">
    <div class="inferior">
        <div class="botones">
            <button>Completar Tareas Seleccionadas</button>
            <button>Eliminar Tareas Seleccionadas</button>
        </div>  
        <table>
            <thead>
                <tr>
                    <th>Pendientes</th>
                </tr>
            </thead>
            <tbody>
                <!--Aqui se usa el nombre del return de pendientes en el views.py-->
                {% for t in tareasPendientes %}
                <tr>
                <!--Cada elemnento lleva su checkbox-->    
                    <td>{{t.nombre}}<input type="checkbox"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="botones">
        <button>Devolver Realizadas a Pendientes</button>
        <button>Eliminar Tareas Seleccionadas</button>
    </div>
    <div class="inferior">
        <table>
            <thead>
                <tr>
                    <th>Realizadas</th>
                </tr>
            </thead>
            <tbody>
                <!--Aqui se usa el nombre del return de realizadas en el views.py-->
                {% for tR in tareasRealizadas %}
                <tr>
                    <td>{{tR.nombre}}<input type="checkbox"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}